.footer{
    width: 65.6%;
    margin: auto;
}

.bagAtas{
    display: flex;
}

.cariKami{
    width: 60.98%;
    padding-top: 155px;
    padding-bottom: 50px;
}

.berlangganan{
    width: 39.02%;
    padding-top: 97px;
    padding-bottom: 45px;
}

.logoCariKami{
    display: flex;
    width: 29.26%;
    justify-content: space-between;
    padding-top: 10px;
}

.cariKami p{
    font-weight: 400;
    font-size: 14px;
}

.berlangganan p{
    font-weight: 700;
    font-size: 19px;
}

.email{
    display: flex;
    /* background-color: yellow; */
    margin-top: 18px;
    margin-bottom: 15px;
}

.kotakEmail{
    /* background-color: red; */
    width: 57.99%;
}

.styleInput{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #F9F9F9;
    color: black;
    height: 52px;
    font-family: inherit;
    width: 100%;
    border: #F9F9F9 1px solid;
}

input{
    border: none;
    outline: none;
}

input:active{
    border: none;
    outline:none;
}

::placeholder {
    color: black;
    opacity: .2;
    font-size: 14px;
    padding-left: 10px;
}

.btnBerlangganan{
    padding-left: 20px;
    padding-right: 20px;
    height: 52px;
    background-color: #BDC0AC;
    color: white;
    border: 1px solid white;
    font-family: inherit;
    font-size: 14px;
    transition: 0.2s;
}

.btnBerlangganan:focus{
    border: 1px solid white;
    outline: none;
}

.btnBerlangganan:active{
    transform: scale(0.95);
}

.btnBerlangganan:hover{
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    background-color: #604E49;
}

.penutupan p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    width: 320px;
    letter-spacing: -0.02em;
}

.garis{
    background-color: white;
    height: 2px;
    width: 100%;
}

.copyright{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: white;
    padding-top: 35px;
    padding-bottom: 15px;
    /* background-color: pink; */
}

.fb::before{
    background-color: #FFFFFF;
}

.fb:hover, .tw:hover, .ig:hover{
    cursor: pointer;
}

.fb:hover svg path, .tw:hover svg path, .ig:hover svg path{
    fill: #604E49;
}

.fb:active, .tw:active, .ig:active{
    transition: 0.2s;
    transform: scale(0.90);
}

#alamatEmail:hover{
    cursor: pointer;
}

#alamatEmail:focus{
    border-style: dashed;
    border-color: #604E49;
    background-color: #BDC0AC;
}

#alamatEmail:active{
    background-color: #BDC0AC;
}

@media only screen and (max-width: 392px) {
    .footer{
        width: 90%;
    }

    .bagAtas{
        flex-direction: column;
    }
    
    .cariKami{
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .logoCariKami>div{
        margin-right: 5px;
    }

    .berlangganan{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .copyright{
        padding-top: 20px;
        padding-bottom: 30px;
        /* background-color: pink; */
    }
}

