.main{
    width: 59.66%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 150px;
}

.borderNone{
    border: none !important;
}

.kotakAtas{
    height: 22px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 20px;
}

.tulisanKeranjang{
    font-size: 16px;
    font-weight: 900;
    height: 40px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 4px;
}

.garis{
    height: 1px;
    background-color: white;
    width: 85px;
}

.kotakBawah{
    width: 100%;
}

.pilihSemua{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
}

.kotakPilih{
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
    margin-right: 35px;
    margin-left: 13px;
    
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    box-sizing: border-box;
}

.kotakPilih>svg{
    height: 20px;
    width: 20px;
}


.kotakPilih input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #eee;
    
}

.garis2{
    height: 1px;
    background-color: white;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.kumpulanKeranjang{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardKeranjang{
    width: 100%;
    height: 115px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.kotakFoto{
    width: 115px;
    height: 115px;
    background-color: #604E49;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.kotakTulisan{
    width: 220px;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.harga{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}

.kotakJumlah{
    width: 130px;
    height: 100%;
}

.tempatSampah{
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svgTempatSampah:hover, .tombolCekot:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.svgTempatSampah:active, .tombolCekot:active{
    transform: scale(0.95);
}

.totalHarga{
    width: 111px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 13px;
}

/* kotak plus min */

.kotakJumlah{
    display: flex;
    align-items: center;
}

.kotakMin{
    border: 1px solid #E4E4E4;
    height: 30px;
    width: 33.333%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.kotakMin:hover, .kotakTambah:hover{
    cursor: pointer;
}

.kotakAngka{
    height: 30px;
    width: 33.333%; 
}

.kotakTambah{
    border: 1px solid #E4E4E4;
    height: 30px;
    width: 33.333%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.inputText {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #8C8E81;
    color: white;
    font-family: inherit;
    width: 100%;
    height: 30px;
    outline: none;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.inputText:focus {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* kotak plus min */

.bagianBawah{
    background-color: #8C8E81;
    width: 100%;
    height: 140px;
    position: fixed;
    bottom: 0;
    display: flex;
}

.kotakDalam{
    width: 38.82%;
    background-color: #604E49;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    margin: auto;
    height: 125px;
    padding: 10px 40px;
}

.tulisanSub{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.garis3{
    height: 1px;
    background-color: white;
    width: 68px;
}

.atas{
    margin-bottom: 5px;
}

.bawah{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.totalBrg, .totalHrg{
    display: flex;
    justify-content: space-between;
}

.tombolCekot{
    height: fit-content;
    background-color: #BDC0AC;
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    cursor: pointer;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.tulisanCekot{
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.25);
}

.tombol{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 4px;
}

.kotakMin:hover, .kotakTambah:hover{
    cursor: pointer;
    background-color: #BDC0AC;
}

.inputText:focus {
    border:1.5px solid white;
    background-color: none;
}

.inputText:focus:hover{
    background-color: transparent;
}

.inputText:hover {
    background-color: #BDC0AC;
    cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 430px) {
    .main{
        width: 90%;
    }

    .cardKeranjang{
        flex-wrap: wrap;
        height: auto;
    }

    .kotakTulisan{
        width: 100px;
    }

    .kotakJumlah{
        margin-left: 67px;
        margin-top: 20px;
    }

    .tempatSampah{
        width: 40px;
        margin-top: 20px;
    }

    .harga.totalHarga{
        margin-top: 20px;
    }

    .kotakDalam{
        width: 80%;
    }
}