body{
    padding: 0%;
    margin: 0%;
    border: 0;
}

.centang{
    position: absolute;
    margin-left: 60px;
}

.centangKosong{
    position: absolute;
    margin-left: 60px;
}

.edit{
    background-color: black;
    width: 50px;
    cursor: pointer;
    position: absolute;
}

.displayNone{
    display: none;
}

.display{
    display: contents;
}

.sampah{
    position: absolute;
    background-color: blue;
}